[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu118"
verify_ssl = true
name = "pytorch"

[packages]
flask = "*"
openai = "*"
transformers = "*"
pandas = "*"
numpy = "*"
scikit-learn = "*"
sentence-transformers = "*"
python-dotenv = "*"
nltk = "*"
torch = {version="*", index="pytorch", markers = "platform_system == 'Windows'"}

[dev-packages]

[requires]
python_version = "3.12"
