[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu118"
verify_ssl = true
name = "pytorch"

[packages]
openai = "*"
transformers = "*"
pandas = "*"
numpy = "*"
scikit-learn = "*"
sentence-transformers = "*"
python-dotenv = "*"
nltk = "*"
torch = "*"
sqlmodel = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12"
