[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
openai = "*"
transformers = "*"
pandas = "*"
numpy = "*"
scikit-learn = "*"
sentence-transformers = "*"
python-dotenv = "*"
nltk = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"

[dev-packages]

[requires]
python_version = "3.12"
