.react-chatbot-kit-chat-container {
    width: 100vw;
    height: 100vh;
}

.react-chatbot-kit-chat-message-container {
    height: 90%;
}

.react-chatbot-kit-chat-inner-container {
    height: 100%;
    background-color: rgb(30, 30, 30);
}

.react-chatbot-kit-chat-header {
    background-color: rgb(46, 46, 46);
    color: white
}

.react-chatbot-kit-chat-input {
    background-color: white;
}

.react-chatbot-kit-user-chat-message {
    background-color: rgb(192, 98, 61);
    color: white;
}

.react-chatbot-kit-user-chat-message-arrow {
    border-left: 8px solid rgb(192, 98, 61);
}

.react-chatbot-kit-chat-bot-message {
    background-color: rgba(112, 110, 110, 0.1);
    margin-left: 0%;
    max-width: 50vw;
    width: auto;
    color: white !important;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.2);
    margin: 0 8px 8px 8px;
    border-radius: 8px;
}

.react-chatbot-kit-chat-bot-message-arrow {
    border-right: 8px solid #312b2b;
}

.react-chatbot-kit-chat-btn-send {
    color: rgb(74, 100, 151);
}